<!DOCTYPE html>
<html>
<head>
    <title>Info Wise App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDbWEVudTylVrB4vKAzY72Vn0uYd_njriY",
            authDomain: "info-wise.firebaseapp.com",
            databaseURL: "https://info-wise.firebaseio.com",
            projectId: "info-wise",
            storageBucket: "info-wise.appspot.com",
            messagingSenderId: "441500702588"
        }
        firebase.initializeApp(config);
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Compiled and minified CSS -->
    <link rel="stylesheet" href="css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .w3-sidebar a {
            font-family: "Roboto", sans-serif
        }

        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .w3-wide {
            font-family: "Montserrat", sans-serif;
        }
        
    </style>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>    
</head>

<body style = "background-color: #8ec5ed">
    <!-- Sidebar/menu -->
        <center>
        <br>
        <img style = "margin-top: 80px;height:100px; width:100px" src="images/logo.png">
        <h1 style = "color: #FFFFFF;margin-top: 30px"><b>smart</b>fam</h1>
        <br>
        <br>
        <br>
        <a  id = "next" style="color: #000000;display: none; visibility: hidden" href ="/home" class='btn-large white'>Continue to App</a>
        <button  style = "color: #000000"id="orig-google-signin" onclick={signInWithGoogle()} class='btn-large white'>Sign in with Google</button>
        <br>
        <br>
        <br>
        <a><img style = "margin-top: 0px" src="images/facebook.png"></a>   
        
        <script src="js/login.js"></script>
</body>

</html>

